---
---

// add bootstrap variable settings here

@import 'myVariables';
@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
}

.content {
  padding: 0;
}


/*LOGO*/
.text-center.logo {
    margin: 0 0 12px 0;
}
.juanjo-blanquez {
    font-size: 33px;
    line-height: 42px;
    .blanquez {
        font-weight: 800;
    }
}
.sofas {
    font-weight: 800;
    font-size: 55px;
    font-family: sans-serif;
    line-height: 46px;
}


.footer-widget {
    padding: 25px 0;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

