---
---

// add bootstrap variable settings here

@import 'myVariables';
@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
}

/* OVERWRITE NAV */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffffff;
    border-bottom: 3px solid #eeeeee;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 14px;
        padding-bottom: 10px;
    }
}

.content {
  padding: 0;
}


/*LOGO*/
.text-center.logo {
    margin: 0 0 0px 0;
}
.juanjo-blanquez {
    font-size: 33px;
    line-height: 33px;
    .blanquez {
        font-weight: 800;
    }
}
.sofas {
    font-weight: 800;
    font-size: 55px;
    font-family: sans-serif;
    line-height: 61px;
}


footer {
    padding: 49px 0 60px;
    margin-top: 100px;
    background-color: black;
    color: #ffffff;
    a, a:hover, a:active, a:focus {
        color: #ffffff;
    }
    p {
        line-height: 37px;
    }
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

