---
---

// add bootstrap variable settings here

@import 'myVariables';
@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 0;
}

.juanjo-blanquez {
    font-size: 20px;
    line-height: 26px;
}
.sofas {
    font-size: 58px;
    letter-spacing: 0px;
    font-family: sans-serif;
    line-height: 58px;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

