<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="footer-widget">
            <p class="text-center">C. Bélgica 37</p>
            <p class="text-center">08917 Badalona (Montigalá)</p>
            <p class="text-center"><a href="telto:+34934654354" title="llamar al 934654354">t. 93 465 43 54</a> - <a href="telto:+34934970853" title="fax: 934970853">f. 93 497 08 53</a></p>
            <p class="text-center"><a href="mailto:juanjoblanquez@juanjoblanquez.com" target="_blank">juanjoblanquez@juanjoblanquez.com</a></p>
            <p class="text-center"><a href="https://goo.gl/maps/onQKVZeN5aE2" target="_blank">ver mapa</a></p>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</footer>  