<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} | {{ site.title }}</title>

   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="{{ site.path }}/js/bootstrap.min.js"></script>
</head>
<body>

  <!--<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center-block">
          <a class="navbar-brand center" href="{{site.url}}" title="{{ site.title }}">
              <img src="/images/juanjo-blanquez-logo.jpg">
              JUANJO <strong>BLÁNQUEZ SOFÁS</strong>
          </a> 
        </div>
      </div>
    </div>
  </div>-->

  <nav class="navbar">
      <div class="container">

        <div class="navbar-header">
          <button type="button" style="border:1px solid #000;" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="text-center logo">
          <div class="juanjo-blanquez">JUANJO <strong>BLÁNQUEZ</strong></div>
          <div class="sofas"><strong>SOFÁS</strong></div>
        </div>
    
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'menu' %}

            {% for node in site.pages %}
              {% if group == null or group == node.group %}
                {% if page.url == node.url %}
                  <li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
                {% else %}
                  <li><a class="page-link" href="{{node.url}}">{{node.title}}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}

            {% assign pages_list = nil %}
            {% assign group = nil %}
          </ul>
        </div><!--/.nav-collapse -->

      </div><!-- container -->
  </nav>

  <div class="container">
    <div class="content">
      {{ content }}
    </div>
  </div><!-- /.container -->

</body>
</html>
