<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="footer-widget">
            <p class="text-center">
              C. BÉLGICA 37 - 08917 (Montigalá) BADALONA<br>
              <a href="telto:+34934654354">T. 93 465 43 54</a> - <a href="telto:+34934970853">F. 93 497 08 53</a><br>
              <a href="mailto:juanjoblanquez@juanjoblanquez.com" target="_blank">juanjoblanquez@juanjoblanquez.com</a>
            </p>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</footer>  